* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(0, 0, 33);
    color: white;
    font-family: 'Poppins', sans-serif;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    background-color: rgb(18, 18, 62);
}

nav ul {
    display: flex;
    justify-content: center;
}

nav ul li {
    list-style: none;
    margin: 0 25px;
    font-size: 1rem;
}

nav ul li a {
    text-decoration: none;
    color: white;

}

nav ul li a:hover {

    color: rgb(155, 155, 223);
    font-size: 1.1rem;
}

main hr {
    border: 0;
    background: #9c97f1;
    height: 1.2px;
    margin: 40px 84px;
    margin-top: 180px;
    
}

.left {
    font-size: 1.5rem;
}

.firstSection {
    display: flex;
    justify-content: space-around;
    height: 58vh;


}

.firstSection>div {
    width: 40%;
}

.leftSection {
    font-size: 2.5rem;
    margin: 80px 0;
    padding-left: 5%;


}

.rightSection img {
    width: 55%;
    margin: 70px 0;
    height:100%;

}

.purple {
    color: rgb(177, 124, 177);
}

#element {
    color: rgb(177, 124, 177);
}

#secondSection {
    max-width: 80vw;
    margin: auto;
    height: 50vh;
    margin-bottom: 80px;
    margin-top: 20px;
}

#secondSection h1 {
    font-size: 1.9rem;
}

#secondSection .box {
    background-color: white;
    width: 80vw;
    height: 2px;
    margin: 56px 0;
    display: flex;
}

.titles {
    display: flex;
    margin: 30px 0 40px;
}

.tab-links {
    margin-right: 100px;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

.tab-links::after {
    content: '';
    width: 0;
    height: 3px;
    position: absolute;
    left: 0;
    bottom: -8px;
    background: #9c97f1;
    transition: 0.5s;
}

.tab-links.active-link::after {
    width: 100%;
}

.tab-contents ul li {
    list-style: none;
    margin: 20px 0;
}

.tab-contents ul li span {
    color: #9c97f1;
    font-size: 18px;

}

.tab-contents {
    display: none;
}

.tab-contents.active-tab {
    display: block;
}

/**********project**********/
#projects {
    padding: 30px 0;
    max-width: 80vw;
    margin: auto;
    height: 60vh;
}

.container-project h1 {
    font-size: 1.9rem;

}

.project-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    margin-top: 40px;

}


.project-list div {
    background: #625ea3;
    padding: 50px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 10px;
    margin: 20px;
    transition: background 0.5s, transform 0.5s;
}

.project-list div i {
    font-size: 30px;
    margin-bottom: 0px;
}

.project-list div:hover {
    background: #9c97f1;
    transform: translate(-10px);
}
.project-list p{
    font-size: 15px;
}
/************Certificates***********/
#certificates {
    padding: 50px 0;
    max-width: 80vw;
    margin: auto;
    height: 60vh;
   
}
.grid-container {
    margin-top: 60px ;
    flex-direction: column;

    display: grid;
    /*grid-template-columns: 1fr 1fr 1fr;*/
    
   grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
   /*grid-gap: 4px;
   grid-row-gap: 30px;
     */
   grid-column-gap: 50px;

  }
  
  .grid-item {
    display: flex;
    flex-direction: column;
   /* border: 2px solid #FDBE33 */
  }
  
  .image-container {
    width: 100%;
    height: 110%;
    overflow: hidden;
    position: relative;
    /*border-bottom: 5px solid orange;*/
  }
  
  img {
    width: 100%;
    height: 50%;
    display: block;
    border-radius: 10px;
    /*object-fit: cover;*/
  }
  
  .info-container {
  /*  background-color: #fae3b3;*/
    padding: 20px;
    
  }
  .info-container h3{
    color: #625ea3;
    align-items: center;
    
  }
  .info-container h3:hover {
    color: #9c97f1;
    transform: translate(-10px);
}
  #certificates hr{
    /*margin-top: 5px;
    width: 100px;
    border: 0;
    background: #9c97f1;
    height: 1.2px;
    margin: 40px 84px;*/
   
  }
  
/*******contact*****/
#contact{
    margin-top: 60px;
    height: 70vh;
}

.row-contact{
    display: flex;
    justify-content: space-around;
}
.left{
    flex-basis: 40%;
    margin-left: 80px;
}
.right{
    flex-basis: 50%;
}
.left p{
    margin-top: 30px;
}
.left p i{
    color: #625ea3;
    margin-right: 15px;
    font-size: 25px;
}
.social-icons a{
    padding: 10px;
    justify-content: space-around;
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    display: inline-block;
    color: white;
    transition: transform 0.5s;

}
.social-icons a:hover{
    color: #9c97f1;
    transform: translateY(-5px);
}
.btn.btn2{
    display: inline-block;
    background: white;
    width: 110px;
    height: 50px;
    margin-left: 15px;
    border-radius: 6px;
    cursor: pointer;
}
.btn.btn2:hover{
    background-color: #9c97f1;
}
.right form{
    width: 80%;
}
form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: white;
    color: black;
    padding: 15px;
    margin: 15px;
    font-size: 18px;
    border-radius: 6px;

}
.form input{
    color: white;
}
.copyright{
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background: #625ea3;
    font-weight: 300;
    margin-top: 20px;
}